.canvas-container {
    * {
        margin: revert;
        padding: revert;
    }

    &.show-component-area *:not(.sei-root, .sei-root *, .etb-root, .etb-root *) {
        outline: 1px dashed #ccc;
        outline-offset: -1px;
    }
}